version: 2
jobs:
  build-and-test:
    working_directory: ~/pubsub-example/publisher-server
    docker:
      - image: circleci/node:12.16.3
        environment:
          PGHOST: 127.0.0.1
          PGUSER: circleci
          NODE_ENV: test
      - image: circleci/postgres:9.6.2-alpine
        environment:
          CC_TEST_REPORTER_ID: 805a432463b5e1649d7cf1d01aaeb68fbe49e29e848d186aac6f6a4a1c95ecaa
          POSTGRES_USER: circleci
          POSTGRES_DB: circleci_test
      - image: mileschou/xdebug:7.3
    steps:
      - checkout:
          path: ~/pubsub-example
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Run Tests and Collect Coverage Reports
          command: |
            # sudo -E docker-php-ext-enable xdebug
            ./cc-test-reporter before-build
            yarn test --maxWorkers=2 --collectCoverage=true
            # sudo vendor/bin/phpunit --coverage-clover clover.xml
            ./cc-test-reporter after-build --exit-code $?

workflows:
  version: 2
  run_test:
    jobs:
      - build-and-test